@model Bookings.Models.ViewModels.CalendarDayVM[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Booking";
    ViewBag.Header = "Pick a date!";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>


    <div class="w3-container w3-center w3-animate-left">
        <div class="column"
    <div class="card">
        <h1 class="h3"> </h1>
    </div>
    <div class="column"
    <table class="t1">
        <div class="grid-container">
            <div class="grid-item">Mon</div>
            <div class="grid-item">Tue</div>
            <div class="grid-item">Wed</div>
            <div class="grid-item">Thu</div>
            <div class="grid-item">Fri</div>
            <div class="grid-item">Sat</div>
            <div class="grid-item">Sun</div>


            @foreach (var item in Model)
            {
                @if (item.FakeDay)
                {
                    <div class="grid-item"> </div>
                }
                else if (!item.IsClosed)
                {
        <div class="grid-item-free">
            @item.StartDateTime.Date.ToString("d.")
            <div class="dropdown">
                <button class="dropbtn">pick</button>
                <div class="dropdown-content">
                    <ul>
                        @foreach (var slot in item.CalendarTimeSlots)
                        {
                            if (!slot.IsFull)
                            {
                             <li>@slot.StartDateTime.ToString("h:mm") - @slot.EndDateTime.ToString("h:mm")</li>
                            }
                            else
                            {
                                <b style="color: gray">@slot.StartDateTime.ToString("h:mm")</b>
                            }
                        }
                    </ul>

            </div>
            </div>
        </div>
            }
            else if (item.IsFull)
            {
            <div class="grid-item-full">
                @item.StartDateTime.Date.ToString("d.")

            </div>
            }
            else
            {
            <div class="grid-item-occupied">
                @item.StartDateTime.Date.ToString("d.")

            </div>
            }


            }

        </div>

    </table>
             @*<label class="lead mr-2 ml-2" for="month">Jump To: </label>*@
    <div class="dropdown">
            <button class="dropbtn">Pick Month</button>
            <div class="dropdown-content">
                    <a href="/CalendarView/1">Jan</a>
                    <a href="/CalendarView/2">Feb</a>
                    <a href="/CalendarView/3">Mars</a>
                    <a href="/CalendarView/4">April</a>
                    <a href="/CalendarView/5">Maj</a>
                    <a href="/CalendarView/6">Juni</a>
                    <a href="/CalendarView/7">Juli</a>
                    <a href="/CalendarView/8">Augusti</a>
                    <a href="/CalendarView/9">Sept</a>
                    <a href="/CalendarView/10">Oct</a>
                    <a href="/CalendarView/11">Nov</a>
                    <a href="/CalendarView/12">Dec</a>

 <script>
     function jump() {
    currentYear = parseInt(selectYear.value);
    currentMonth = parseInt(selectMonth.value);
    showCalendar(currentMonth, currentYear);
}

        // HTML//anonym funktionclick event kopplat till id( som get element by id)
        /**/
        $("#month").onchange(function () {
            // Make AJAX call
            $.ajax({
                url: "/CalendarView/5",
                type: "GET",
                success: function (result) {
                    // Call done - update DOM
                    $("#grid-container").html(result);
                }
            });
        });


    </script>

        <label for="year"></label>
        <select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
            <option value=2020>2020</option>
            <option value=2021>2021</option>
            <option value=2022>2022</option>
            <option value=2023>2023</option>
            <option value=2024>2024</option>
            <option value=2025>2025</option>
            <option value=2026>2026</option>
            <option value=2027>2027</option>
            <option value=2028>2028</option>
            <option value=2029>2029</option>
            <option value=2030>2030</option>
        </select>
</div>




</body>
</html>

