@model Bookings.Models.ViewModels.CalendarDayVM[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalendarView</title>
</head>
<body>
    @foreach (var item in Model)
    {
        <p>@item.StartDateTime.Date.ToString("d.M.") Weekend: @item.IsWeekend Full? @item.IsFull</p>

        @foreach (var slot in item.CalendarTimeSlots)
        {
            @*End time: @slot.EndDateTime.Date.ToString("hh:mm")*@
            @if (slot.IsFull) {<b style="color:red;font-size:46px;"> FULL @slot.StartDateTime.ToString("hh:mm") </b> } else {<a > @slot.StartDateTime.ToString("hh:mm") </a> }
            <p>@slot.IsFull</p>
        }
    }
</body>
</html>
